<div class="body_row col-md-12">
    <div class="col-md-4 body_text_wrapper">
        <h4>Small batch definition</h4>
        <p>Noble features small runs of new products we 
        affectionately call “Small Batches.” We aren’t 
        just talking about limited edition jeans. These
        batches could include items like bags, waxed 
        canvas pants, denim jackets, or button up shirts. 
        What items we produce entirely depend on the 
        creativity and whim of our Cincinnati Workshop.
        </p>
    </div>
    <div class="body_image_wrapper col-md-8">
        <img src="assets/sam-shirt.png"></img>
    </div>
</div>

<div class="body_row col-md-12">
    <div class="body_image_wrapper col-md-4">
        <img src="assets/bags.png"></img>
    </div>
    <div class="body_image_wrapper col-md-4">
        <div class="body_image_wrapper col-md-12">
            <img src="assets/drawings.png"></img>
        </div>
        <div class="body_image_wrapper col-md-12">
            <div class="col-md-12 body_text_wrapper">
                <h4>Do Something new</h4>
                <p>Our limited edition products give us the 
                freedom to experiment with a variety of 
                quality materials and create just a few unique 
                items. It exposes us to fresh fabrics and hardware 
                on a regular basis, and keeps us innovating how to 
                use these great materials in exciting ways.</p>
            </div>
        </div>
    </div>
    <div class="body_image_wrapper col-md-4">
        <img src="assets/denim-rolls.png"></img>
    </div>
</div>

<div class="body_row col-md-12">
    <div class="body_image_wrapper col-md-8">
        <img src="assets/N.png"></img>
    </div>
    <div class="body_image_wrapper col-md-4">
        <div class="col-md-12 body_text_wrapper">
            <h4>the uniform</h4>
            <p>We believe clothes are an investment. 
            When you buy something, you should feel 
            proud of how it was made. The product 
            should enrich your lifestyle and make
            it easier to do the things you love. We 
            think curating a small collection of 
            utilitarian and classic items is all you need. 
            We call this the “uniform.” You don’t have to
            think twice about what you wear because the 
            few things you own are all great.</p>
        </div>
    </div>

</div>

<div class="body_row col-md-12">
    <div class="body_image_wrapper col-md-4">
        <div class="col-md-12 body_text_wrapper">
            <h4>close to the craft</h4>
            <p>Chris Sutton, the founder of Noble, 
            left his desk job to sew all the jeans 
            himself in our first year. As Noble grows, 
            Chris wants to stay a hands-on creator rather 
            than moving back to a desk simply because he 
            eats sleeps and breathes making clothes. Our 
            Small Batches keep him creating new products 
            and remind him why we started Noble in the 
            first place, to do work we love.</p>
        </div>
    </div>
    <div class="body_image_wrapper col-md-8">
        <img src="assets/chris-working1.png"></img>
    </div>
</div>