<div class="body_row col-md-12">
    <div class="video_wrapper col-md-8 col-xs-12"><iframe src="https://player.vimeo.com/video/53351319" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 body_text_wrapper">
        <h4>our story</h4>
        <p>This first video captures our beginning:
         a craft birthed from curiosity and the love 
         of the process. But the purpose of Noble 
         extends beyond just Chris’ story.</p>
    </div>
</div>

<div class="body_row col-md-12">
    <div class="body_image_wrapper col-md-4 col-sm-4 col-xs-12">
        <img src="assets/woman.jpg"></img>
    </div>
    <div class="body_image_wrapper col-md-4 col-sm-4 col-xs-12">
        <div class="body_image_wrapper col-md-12">
            <img src="assets/scissors.jpg"></img>
        </div>
        <div class="body_image_wrapper col-md-12">
            <div class="col-md-12 body_text_wrapper">
                <h4>Reece 101</h4>
                <p>While it might be known for its finicky nature, 
                we love this machine because it makes the cleanest 
                and most sturdy buttonhole around.</p>
            </div>
        </div>
    </div>
    <div class="body_image_wrapper col-md-4 col-sm-4 col-xs-12">
        <img src="assets/button_machine.jpg"></img>
    </div>
</div>

<div class="body_row col-md-12">
    <div class="body_image_wrapper col-md-8 col-sm-8 col-xs-12">
        <img src="assets/chris.jpg"></img>
    </div>
    <div class="body_image_wrapper col-md-4 col-sm-4 col-xs-12">
        <div class="body_image_wrapper col-md-12">
            <div class="col-md-12 body_text_wrapper">
                <h4>Chris</h4>
                <p>Noble began as a one-man operation with 
                the goals to both learn and perfect the art 
                of making jeans. The guiding dream from the 
                beginning was to eventually expand beyond just 
                one sewer to whole communities dedicated to 
                developing quality clothes. Chris Sutton, original 
                jean maker and Noble founder, remains the central 
                sewer, product developer and apprentice overseer. 
                Under his care, the Cincinnati Workshop creates 
                a collective space for craftsmen and women to work 
                alongside of each other making small batches of 
                unique products.</p>
            </div>
        </div>
    </div>
</div>
