<div class="body_row col-md-12">
    <div class="body_image_wrapper col-md-8">
        <img src="assets/raw1.png"></img>
    </div>
    <div class="col-md-4 body_text_wrapper">
        <h4>What is 'Selvage'?</h4>
        <p>“Selvage” means there’s a finished edge 
        around the fabric which is created when denim 
        is made on antique shuttle looms. This is an anomaly 
        among most mass-produced denim because it’s more 
        expensive and time consuming to manufacture. Other 
        manufactures err on the side of cheap and quick—making 
        massive rolls of denim that they later cut to size. 
        Selvage denim is the opposite. It’s made by a continuous 
        horizontal “weft” thread that’s never cut, giving the 
        denim a clean and uniform edge—and a thicker, more durable 
        nature. Only a few looms still exist to make this sort of denim.
        It’s “raw” because it’s unwashed, and sanforized to minimize shrinkage.
        In short, selvage denim is pristine, has the unique 
        ability to conform to your body over time, and it 
        wears in all the right places.
        </p>
    </div>
</div>

<div class="body_row col-md-12">
    <div class="body_image_wrapper col-md-4">
        <img src="assets/raw2.png"></img>
    </div>
    <div class="body_image_wrapper col-md-4">
        <div class="body_image_wrapper col-md-12">
            <img src="assets/raw3.png"></img>
        </div>
        <div class="col-md-12 body_text_wrapper">
            <h4>Copper</h4>
            <p>Good materials stand the test of time. 
            Thats why we choose materials that look 
            great when they are new and only get better 
            with age. As you break in your jeans, 
            not only will the denim begin to show wear 
            lines, but the YKK copper rivets and 
            buttons will mature and patina.</p>
        </div>
    </div>
    <div class="body_image_wrapper col-md-4">
        <img src="assets/raw4.png"></img>
    </div>
</div>

<div class="body_row col-md-12">
    <div class="body_image_wrapper col-md-8">
        <img src="assets/raw5.png"></img>
    </div>
    <div class="col-md-4 body_text_wrapper">
        <h4>Chainstich</h4>
        <p>We use a chainstitch machine to hem Nobles 
        out of respect for the construction 
        of the original jeans first made in 
        1873. It is classic. We aren’t tied 
        to doing things the “old fashioned” 
        way, but there are certain characteristics 
        on vintage jeans that are just hard to beat.
        </p>
    </div>
</div>