<div class="body_row col-md-12">
    <div class="col-md-4 body_text_wrapper">
        <h4>Stretch</h4>
        <p>We make our jeans to last. We are 
        proud of their durability and you’ll 
        surely notice the stiffness when first 
        put them on. They should be real snug, 
        and even difficult to button.  But don’t 
        worry, within a wear or two, you’ll start 
        to notice a bit of loosening. This is part 
        of the normal breaking in process with any 
        selvage jean, and part of the fun.  Our jeans 
        will stretch as much as 1 whole size. If that 
        is too much for you, just put them in warm or 
        hot water and they will shrink back up.
        </p>
    </div>
    <div class="body_image_wrapper col-md-8">
        <img src="assets/stretch-wear1.jpg"></img>
    </div>
</div>

<div class="body_row col-md-12">
    <div class="body_image_wrapper col-md-8">
        <img src="assets/color-denim1.jpg"></img>
    </div>
    <div class="col-md-4 body_text_wrapper">
        <h4>color</h4>
        <p>Part of the what makes selvage jeans interesting
        is the way that the color will develop based 
        on your wear, habits and style. That is the 
        main reason we advise you to not wash them 
        for a good while. The longer you go, the more 
        pronounced the fading will be in all the right 
        spots. Typically, this is in the thigh, knee, back 
        pocket and anywhere else that has seen some distress.
        </p>
    </div>
</div>

<div class="body_row col-md-12">
    <div class="body_image_wrapper col-md-4">
        <img src="assets/feel-wear1.jpg"></img>
    </div>
    <div class="body_image_wrapper col-md-4">
        <div class="col-md-12 body_text_wrapper">
            <h4>Feel</h4>
            <p>Noble jeans start out feeling much 
            like other raw selvage denim jeans– with a 
            uniform indigo dye, glossy and slick feel with just 
            a little bit of fuzziness when you touch them.  
            This will slowly erode away as you break them in, 
            leaving a noticeably softer, yet truly durable 
            pair of jeans.</p></br>
            
            <h4>Personality</h4>
            <p>When all is said and done, your Nobles 
            will follow along with your lifestyle 
            and develop a softer feel, unique color 
            fades, sometimes ‘honeycombs’ and of course, 
            a perfectly personal fit.  Much like a 
            good all-leather shoe.</p>
        </div>
    </div>
    <div class="body_image_wrapper col-md-4">
        <img src="assets/person-wear2.jpg"></img>
    </div>
</div>