<div class="body_row col-md-12">
    <div class="body_image_wrapper col-md-8 col-sm-8 col-xs-12">
        <img src="assets/map.jpg"></img>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 body_text_wrapper">
        <h4>Keep the trade close</h4>
        <p>The ‘trade movement’ started because 
        we wanted an alternative to mass produced
        goods. This approach not only stimulates
        creative discussion between companies, it 
        ties commerce to actual communities and 
        lessens our environmental impact. The 
        more companies that are dedicated to their 
        region, using materials from their area, for 
        their neighbors, the more we will be able to 
        reduce our footprint and advocate for a 
        different consumer culture.
        
            <ol>
                <li>OR – Organic Pocketing</li>
                <li>CA – Recycled Packaging</li>
                <li>CO – Recycled Packaging</li>
                <li>OH – Reclaimed Leather</li>
                <li>KY – Copper Hardware</li>
                <li>NC – Denim</li>
            </ol>
        </p>
    </div>
</div>

<div class="body_row col-md-12">
    <div class="body_image_wrapper col-md-4 col-sm-4 col-xs-12">
        <img src="assets/leather.jpg"></img>
    </div>
    <div class="body_image_wrapper col-md-4 col-sm-4 col-xs-12">
        <div class="body_image_wrapper col-md-12">
            <img src="assets/leather2.jpg"></img>
        </div>
        <div class="body_image_wrapper col-md-12">
            <div class="col-md-12 body_text_wrapper">
                <h4>100% organic cotton pockets</h4>
                <p>Conventional cotton occupies only 
                3 percent of the world’s farmland, but 
                uses 25 percent of the world’s chemical 
                pesticides and fertilizers. It is the 
                number one most pesticide-laden crop 
                in the US.</p>
            </div>
        </div>
    </div>
    <div class="body_image_wrapper col-md-4 col-sm-4 col-xs-12">
        <img src="assets/denim.jpg"></img>
    </div>
</div>

<div class="body_row col-md-12">
    <div class="body_image_wrapper col-md-4 col-sm-4 col-xs-12">
        <div class="col-md-12 body_text_wrapper">
            <h4>Reclaimed Leather patch</h4>
            <p>We discovered rolls of leather 
            tucked in the back of a run-down 
            barn in rural Ohio.</p>
        </div>
    </div>
    <div class="body_image_wrapper col-md-8 col-sm-8 col-xs-12">
        <img src="assets/pocket.jpg"></img>
    </div>
    
</div>