<div class="body_row col-md-12">
    <div class="col-md-4 col-sm-4 col-xs-12 body_text_wrapper">
        <h4>danny</h4>
        <p>Danny started his factory 25 years 
        ago in a very different American economy.
        He had 150 bustling employees taking up two 
        shifts and making thousands of garments each week. 
        In the last 15 years, the number of employees 
        dropped from 150 to just 4. Danny’s team is known 
        for their unparalleled work ethic and attention 
        to detail, but the impact of NAFTA and the choice 
        of US businesses to look for cheaper labor in 
        different countries has left a good portion of 
        this rural economy out of work. Currently, Danny 
        is one of the few clothing manufacturers left in 
        the heart of America but he continues to hold on 
        and provide work for the people still left in his 
        community.</p>
    </div>
    <div class="video_wrapper col-md-8 col-sm-8 col-xs-12 col-xs-12"><iframe src="https://player.vimeo.com/video/78995701" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    
</div>

<div class="body_row col-md-12">
    <div class="body_image_wrapper col-md-4 col-sm-4 col-xs-12">
        <img src="assets/danny.png"></img>
    </div>
    <div class="body_image_wrapper col-md-4 col-sm-4 col-xs-12">
        <div class="body_image_wrapper col-md-12">
            <img src="assets/unionspecial.png"></img>
        </div>
        <div class="body_image_wrapper col-md-12">
            <div class="col-md-12 body_text_wrapper">
                <h4>Trena</h4>
                <p>Trena has been a floor manager for the 
                last 15 years. She is an avid piano player 
                and the proud owner of a 73’ Gibson hollow 
                body electric guitar.</p>
            </div>
        </div>
    </div>
    <div class="body_image_wrapper col-md-4 col-sm-4 col-xs-12">
        <img src="assets/trina.png"></img>
    </div>
</div>

<div class="body_row col-md-12">
    <div class="body_image_wrapper col-md-8 col-sm-8 col-xs-12">
        <img src="assets/group.png"></img>
    </div>
    <div class="body_image_wrapper col-md-4 col-sm-4 col-xs-12">
        <div class="col-md-12 body_text_wrapper">
            <h4>Four Generations</h4>
            <p>Each pair of our jeans is handled 
            with the knowledge, wisdom and passion 
            that has been in the family for four 
            generations. Kelly, Debbie, Dalton and Granny.</p>
        </div>
    </div>
</div>

<div class="body_row col-md-12">
    
    <div class="body_image_wrapper col-md-4 col-sm-4 col-xs-12">
        <div class="col-md-12 body_text_wrapper">
            <h4>“IF WE ARE LOOKING FOR INSURANCE AGAINST WANT AND OPPRESSION, WE WILL FIND IT ONLY IN OUR NEIGHBORS’ PROSPERITY AND GOODWILL.”</h4>
            <p>- WENDELL BERRY</p>
        </div>
    </div>
    <div class="body_image_wrapper col-md-8 col-sm-8 col-xs-12">
        <img src="assets/gun.png"></img>
    </div>
</div>