<div class="body_row col-md-12">
    
    <div class="col-md-4 col-sm-4 col-xs-12 body_text_wrapper">
        <h4>Wait 6 months to wash</h4>
        <p>We know that sounds extreme—but it is 
        worth the wait. Raw denim is just that: raw. 
        It hasn’t been chemically treated or distressed 
        by a machine—it’s right off the loom and indigo-dyed. 
        So you have to train your jeans and bring them up 
        to speed with your life. Let them mold and crease 
        to your body. By walking around, sitting, putting 
        your hands in your pockets, you’ll end up with naturally 
        distressed creases that fit the way you live. 
        Wash them too early, and the indigo might fade 
        too uniformly and you won’t be able to establish 
        the custom wear marks. So hang in there.
        </p>
    </div>
    <div class="body_image_wrapper col-md-8 col-sm-8 col-xs-12">
        <img src="assets/care1.jpg"></img>
    </div>
</div>

<div class="body_row col-md-12">
    <div class="body_image_wrapper col-md-4 col-sm-4 col-xs-12">
        <img src="assets/care2.png"></img>
    </div>
    <div class="body_image_wrapper col-md-4 col-sm-4 col-xs-12">
        <div class="body_image_wrapper col-md-12">
            <img src="assets/care3.jpg"></img>
        </div>
        <div class="col-md-12 body_text_wrapper">
            <h4>Tips for keeping them fresh while you wait</h4>
            <p>Rub out spills and stains with some cool 
            water. Avoid soap or detergent. Put them 
            outside in the fresh air. Let them breathe. 
            Try putting them in the freezer overnight; 
            this kills most bacteria. If you’re in a bind, 
            use gentle odor removal spray.</p>
        </div>
    </div>
    <div class="body_image_wrapper col-md-4 col-sm-4 col-xs-12">
        <img src="assets/care4.png"></img>
    </div>
</div>

<div class="body_row col-md-12">
    <div class="body_image_wrapper col-md-8 col-sm-8 col-xs-12">
        <img src="assets/care5.png"></img>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 body_text_wrapper">
        <h4>The first wash</h4>
        <p><ul>
                <li>Turn your jeans inside out. 
                Soak them in cool to room temp 
                water for 45 minutes. (Bathtubs are 
                great for this.) You’ll notice some 
                of the indigo dye pulling out—this will be minimal.</li>
                <li>Turn jeans right-side-out and let air dry.</li>
                <li>Stretch out the inseam a bit while the seams are still damp.</li>
                <li>Washing by hand is always best. 
                But if a machine feels like your only 
                option, skip detergent—or at least use 
                one that doesn’t contain bleach. We 
                recommend 3×1 Denim Solution.</li>
            </ul>
        </p>
    </div>
</div>

<div class="body_row col-md-12">
    <div class="col-md-4 col-sm-4 col-xs-12 body_text_wrapper">
        <h4>drying</h4>
        <p>Avoid putting your jeans in a dryer if 
        you can help it. Heat will increase the 
        shrinkage. Drying out in open air is always 
        best—using clothespins, binder clips or laying 
        them out flat (so you don’t get a crease).
        </p>
    </div>
    <div class="body_image_wrapper col-md-8 col-sm-8 col-xs-12">
        <img src="assets/care6.png"></img>
    </div>
</div>