<div class="body_row col-md-12">
    <div class="body_image_wrapper col-md-8">
        <img src="assets/fit1.jpg"></img>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 body_text_wrapper">
        <h4>Finding your fit</h4>
        <p>If you need help trying to figure what 
        size and style of Nobles is right for you, 
        get a measuring tape and your favorite jeans 
        and follow the steps below. Once you have your
        measurements, compare them to the ones listed on 
        the product pages in our shop.
        </p>
    </div>
</div>

<div class="body_row col-md-12">
    <div class="col-md-4 col-sm-4 col-xs-12 body_text_wrapper">
        <h4>waist</h4>
        <p>
            <ol>
                <li>Button up your jeans and lay them flat. Measure from the top of your waistband from edge to edge.</li>

                <li>Take that number and double it. That’s the true waist size of your jean.</li>

                <li>For example, Noble runs true to size so a size 32 jean has a 32” waist.</li>
            </ol>
        </p>
    </div>
    <div class="body_image_wrapper col-md-8 col-sm-8 col-xs-12">
        <img src="assets/fit2.jpg"></img>
    </div>
</div>

<div class="body_row col-md-12">
    <div class="body_image_wrapper col-md-4 col-sm-4 col-xs-12">
        <img src="assets/fit3.jpg"></img>
    </div>
    <div class="body_image_wrapper col-md-4 col-sm-4 col-xs-12">
        <div class="col-md-12 body_text_wrapper">
            <h4>Front Rise</h4>
            <p>Measure from the the crotch of the jean to the top of your buttoned waistband.</p>
            </br>
            <h4>Back rise</h4>
            <p>Measure from the crotch of the jean to the top of the back of your waistband.</p>
        </div>
    </div>
    <div class="body_image_wrapper col-md-4 col-sm-4 col-xs-12">
        <img src="assets/fit4.jpg"></img>
    </div>
</div>

<div class="body_row col-md-12">
    <div class="col-md-4 col-sm-4 col-xs-12 body_text_wrapper">
        <h4>thigh</h4>
        <p>Measure one inch down from the crotch point of the jean and then straight across the leg.
        </p>
    </div>
    <div class="body_image_wrapper col-md-8 col-sm-8 col-xs-12">
        <img src="assets/fit5.jpg"></img>
    </div>
</div>

<div class="body_row col-md-12">
    <div class="body_image_wrapper col-md-4 col-sm-4 col-xs-12">
        <img src="assets/fit6.jpg"></img>
    </div>
    <div class="body_image_wrapper col-md-4 col-sm-4 col-xs-12">
        <div class="col-md-12 body_text_wrapper">
            <h4>knee</h4>
            <p>Measure 14” down from the crotch point of the jean and then straight across the leg.</p>
            </br>
            <h4>leg</h4>
            <p>Measure the width of your leg opening.</p>
        </div>
    </div>
    <div class="body_image_wrapper col-md-4 col-sm-4 col-xs-12">
        <img src="assets/fit7.jpg"></img>
    </div>
</div>