<div class="col-md-12 static_pages_wrapper">
    <div class="col-md-12 static_page_body">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="col-md-4">
            <h4 class="contact">Location</h4>
            <p class="contact">1212 Sycamore Street <br>
            2nd Floor, Units 25-26 <br>
            Cincinnati, OH 45202 <br>
            +1 513 512 4998</p>
        </div>
        <div class="col-md-4">
            <h4 class="contact">Info</h4>
            <p class="contact">CUSTOMER SERVICE<br>
                help@nobledenim.com<br>
                +1 513 512 4998 ext. 1<br>
                <br>
                PRESS & ADS<br>
                press@nobledenim.com<br>
                +1 513 512 4998 ext *703<br>
                <br>
                WHOLESALE<br>
                wholesale@nobledenim.com<br>
                +1 513 512 4998 ext *701</p>
        </div>
        <div class="col-md-4">
            <h4 class="contact">Comments or Concerns?</h4>
            <div class="input">
                <div class="footer_form"><p class="contact">Your Name*</p>
                <input type="text" value size="30" class="form_input"></input></div>
                <div class="footer_form"><p class="contact">Your Email*</p>
                <input type="text" value size="30" class="form_input"></input></div>
                <div class="footer_form"><p class="contact">Subject</p>
                <input type="text" value size="30" class="form_input"></input></div>
                <div class="footer_form"><p class="contact">Message</p>
                <textarea type="text" cols="31" rows="10" class="form_input"></textarea></div>
                <div class="footer_form"><input type="submit" class="button" value="Send"></input></div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
    </div>
</div>
