<div id="owl-demo" class="owl-carousel owl-theme">
    <div class="item"><img src="assets/NATURAL_BANNER.jpg" alt="Natural Selvedge Denim"></div>
    <div class="item"><img src="assets/BLACK_DENIM_BANNER.jpg" alt="Black Selvedge Denim"></div>
    <div class="item"><img src="assets/Vic_Banner.jpg" alt="Vic Sports Wear"></div>
</div>

<div class="col-md-12">
    <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <a href="/barrel">
                    <div id="barrel" class="home-item col-md-4"><img src="/assets/Noble-Barrel-Aged-Jeans-38.jpg" class="banner"></img>
                    <h4>barrel aged jeans</h4>
                    <p>see the collaboration with bulleit bourbon</p>
                    </div>
                </a>
                <a href="/products">
                    <div id="denim" class="home-item col-md-4"><img src="/assets/made-in-usa-noble-block2.jpg" class="banner"></img>
                    <h4>view our all-american denim</h4>
                    <p>usa made & sourced</p>
                    </div>
                </a>
                <a href="/denim">
                    <div id="sizing" class="home-item col-md-4"><img src="/assets/find-fit-block.jpg" class="banner"></img>
                    <h4>find your perfect jean</h4>
                    <p>learn about our sizing and fit</p>
                </div>
                </a>
            </div>
        </div>
    <div class="col-md-1"></div>
</div>