@import "bootstrap-sprockets";
@import "bootstrap";

.brand {
    margin-left: auto !important;
    margin-right: auto !important;
}

body {
    border-bottom: 1px solid #e6e6e6 !important;
}

.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}


/* NAVBAR */

.navbar, .navbar-default, .nav, .collapse, .navbar-collapse, .navbar-brand, .container-fluid {
    border-radius: 0px !important;
    background-color: white;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
}

.navbar {
    margin-bottom: 0px !important;
}


/* HOME */

img.banner {
    width: 100%;
    height:  100%;
}

.home-item {
    margin-top: 20px;
    margin-bottom: 20px;
    img {
        height: auto;
        width: 100%;
    }
}

.home-item h4 {
    font-family: "Cabin", Arial !important;
    text-transform: uppercase;
    color: gray !important;
    font-size: 1.35rem !important;
    font-weight: bold !important;
    text-align: center;
    letter-spacing: 1.5px;
}

.home-item p {
    font-family: "Arvo", Arial !important;
    text-transform: uppercase !important;
    color: #14253e !important;
    margin: 0 0 7px;
    text-decoration: none;
    font-size: 0.9rem !important;
    text-align: center;
}

/* Home Page Carousel */

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

/* HEADER */

nav li {
    font-family: "Arvo", Arial;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 1.1px;
}

.navbar-brand {
    float: right;
    @media screen and (max-width: 641px) {
        margin-right: 0px;
    }
    
    margin-bottom: 10px;
    
    img {
        height: 40px;
        
        @media screen and (max-width: 641px) {
            width: auto;
            height: 100%;
            margin-bottom: 5px;
        }
    }
}

.navbar-nav.nav-justified > li{
    float:none;
    a {
        padding-left: 0px;
        padding-right: 0px;
    }
}

.dropdown-menu a {
    padding: 10px !important;
}

#menu {
    margin: 0 auto;
    width: 70%;
}


/* FOOTER */

#footer {
    margin-bottom: 20px;
    margin-top: 15px;
}

h5 {
    border-bottom: 1px solid #e6e6e6;
    font-family: "Cabin", Arial !important;
    text-transform: uppercase;
    color: gray !important;
    font-size: 1.25rem !important;
    padding: 0 0 7px;
    font-weight: bold !important;
}

.footerlinks a, .footerlinks p {
    font-family: "Cabin", Arial !important;
    text-transform: uppercase !important;
    color: gray !important;
    margin: 0 0 7px;
    text-decoration: none;
    font-size: 1.1rem !important;
    
}

.footerlinks a:hover {
    background-color: white !important;
}
    
.footer_input {
    background-color: #e6e6e6 !important;
    border: none !important;
}

.input p {
    margin-bottom: 0px;
    margin-top: 10px;
}

.button {
    background-color: #14253e;
    padding: 8px 10px 8px 10px;
    margin-top: 18px;
    color: white;
    font-family: "Cabin", Arial;
    text-transform: uppercase;
    width: 75px;
    height: auto;
    font-size: 1.1rem;
}

input, button, submit {
    border: none;
}

.fineprint {
    margin-top: 20px;
    font-family: "Cabin", Arial;
    color: gray !important;
    text-transform: uppercase;
}

.left {
    text-align: left;
    font-size: 0.7em !important;
}

.right {
    text-align: right;
    .right_a {
        font-size: 0.7em !important;
        background-color: white;
    }
        @media screen and (max-width: 641px) {
        text-align: left;
    }
}

a, a:hover {
    color: gray !important;
}


/* PRODUCTS INDEX */

.product img {
    width: 100%;
    height: auto;
}

.product-title {
    color: gray;
    font-family: "Arvo", Arial;
    font-size: 1.4rem;
    margin-bottom: 25px;
    text-transform: uppercase;
    text-align: center;
    
}

/* PRODUCT PAGES */

#product_image img {
    float: right;
    padding-right: 20px;
    padding-left: 100px;
    margin-bottom: 25px;
    width: 100%;
    height: auto;
}

#product_description {
    h3 {
        font-family: "Arvo", Arial;
        font-size: 1.5em;
        color: #14253e;
    }
    
    p {
        font-family: "Cabin", Arial;
        font-size: .8em;
        color: #14253e;
        @media screen and (min-width: 641px) {
           width: 50%; 
        }
        
    }
    
    padding-left: 20px;
}