<div id="footer" class="col-md-12">
    <div class="col-md-12">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <h5>Shop</h5>
            <div class="footerlinks">
                <p>
                    <a href="#">Shop All</a></br>
                    <a href="#">Jeans</a></br>
                    <a href="#">Small Batch</a></br>
                    <a href="#">Supplies</a></br>
                    <a href="#">Gift Card</a>
                </p>
            </div>
        </div>
        <div class="col-md-2">
            <h5>Service</h5>
            <div class="footerlinks">
                <p>
                    <a href="#">Returns & Exchanges</a></br>
                    <a href="#">Fit Guide</a></br>
                    <a href="#">Care Instructions</a></br>
                    <a href="#">Wholesale</a></br>
                    <a href="#">FAQ</a>
                </p>
            </div>
        </div>
        <div class="col-md-2">
            <h5>Contact Us</h5>
            <div class="footerlinks">
                <p>
                    <a href="#">e: info@nobledenim.com</a></br>
                    <a href="#">p: +1 513 512 4998</a></br></br>
                    1212 SYCAMORE STREET</br>
                    2ND FLOOR, UNITS 25-26</br>
                    CINCINNATI, OH 45202</br>
                </p>
            </div>
        </div>
        <div class="col-md-2">
            <h5>Follow Noble</h5>
            <div class="footerlinks">
                <a href="/"><img src="/assets/footer/icon_facebook.png" height="32" width="32"></a>
                <a href="/"><img src="/assets/footer/icon_instagram.png" height="32" width="32"></a>
                <a href="/"><img src="/assets/footer/icon_pinterest.png" height="32" width="32"></a>
                <a href="/"><img src="/assets/footer/icon_twitter.png" height="32" width="32"></a>
                <a href="/"><img src="/assets/footer/icon_vimeo.png" height="32" width="32"></a>
            </div>
        </div>
        <div class="col-md-2">
            <h5>Sign Up</h5>
            <div class="footerlinks">
                <p>HEAR ABOUT PROMOTIONS, EVENTS</br>AND THE LATEST BATCHES.</p>
                <div class="input">
                    <div class="col-xs-12"><label><p>name</p></label>
                    <input type="text" class="footer_input"></input></div>
                    <div class="col-xs-12"><label><p>email</p></label>
                    <input type="text" class="footer_input"></input></div>
                    <div class="col-xs-12"><input type="submit" class="button" value="Signup"></input></div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="col-md-12">
        <div class="fineprint">
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <p class="left">&#169 copyright 2014 nobel denim</p>
            </div>
            <div class="col-md-5">
                <div class="right"><a href="#" class="right_a">Privacy</a> | <a href="#" class="right_a">Terms of service</a></div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>